<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>PitchPerfect</title>
        <script src="vue.js"></script>
        <link rel="stylesheet" href="style.css">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Doppio+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap" rel="stylesheet">
        <!-- font -->
        <!--code for prettifying visual on phone-->
        <meta content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" name="viewport">
        <style>
            h3 {
                font-size: 1.4em;
                /*margin-left: 55px;*/
                font-weight: bold;
                color: black;
            }
        </style>
    </head>
    <body>
        <div class="content_project" padding-top="5px" align="center">
            <h2>Happy Birthday</h2>
            <button style="height:70px;width:400px" class="button" onclick = "location.href = '/sheetmusic.html'">Sheet Music</button> <br>
		    <button style="height:70px;width:400px" class="button" onclick = "location.href = '/announcements.html'">Announcements</button> <br>
            <button style="height:70px;width:195px" class="button" onclick = "location.href = '/waitlist.html'">Wait List</button>
            <button style="height:70px;width:195px" class="button" onclick = "location.href = '/invite.html'">Invite</button> <br>
            <div class="box">
                <h3 align="left" margin> Members </h3>
                <div class="members" align="left" id="members">
			        <ul>
				    <li v-for="project in projects">
					    {{ project }}
				    </li>
				    <span v-if="projects.length === 0">
					    &lt;empty&gt;
                    </span>
			        </ul>
		        </div>
            </div>
            <button style="height:70px;width:400px" class="button" onclick = "location.href = '/endcollaboration.html'">End Collaboration</button>
        </div>

        <nav id="tabbar">
            <ul id="tab_wrap">
                <li><a href="/library.html"><img src="images/home.png" width=100px></a></li>
                <li><a href="/search.html"><img src="images/search.png" width=100px></a></li>
                <li><a href="/add.html"><img src="images/add.png" width=100px></a></li>
                <li><a href="/profile.html"><img src="images/profile.png" width=100px></a></li>
            </ul>
        </nav>


        <script>
            var members = new Vue({
              el: '#members',
              data: {
                projects: [
                    "Chamchi",
                    "Sanghigh",
                    "Yewon",
                    "Sujin"
                ]
              },
              color: 'black'
            })
        </script>
    </body>
</html>