<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>PitchPerfect</title>
	<script src="vue.js"></script>
	<link rel="stylesheet" href="style.css">
	<!-- font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Doppio+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap" rel="stylesheet">	
	<!-- font -->
	<!--code for prettifying visual on phone-->
	<meta content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" name="viewport">
</head>
<body>

<div class="content" align="center">
	<h1>Projects</h1>
	<div class="projects" id="ongoing_projects">
		<ul>
			<li v-for="project in projects" onclick = "location.href = '/project_main.html'">
				<h2 class="project_text">{{ project.team }}</h2>
				<h3 class="project_text">{{ project.song }}</h2>
				<p class="project_text">{{ project.parts }}</p>
				<a class="tag">{{ project.level }}</a>
				<a class="button" style="background-color:#F2C94C" onclick = "location.href = '/project_summary.html'">view</a>
			</li>
			<span v-if="projects.length === 0">
				&lt;empty&gt;
			</span>
		</ul>
	</div>
</div>

<nav id="tabbar">
    <ul id="tab_wrap">
        <li><a href="/library.html"><img src="images/home.png" width=100px></a></li>
        <li><a href="/projects_page.html"><img src="images/search.png" width=100px></a></li>
        <li><img src="images/add.png" width=100px></li>
        <li><a href="/profile.html"><img src="images/profile.png" width=100px></a></li>
    </ul>
</nav>


<script>
	var ongoing_projects = new Vue({
	  el: '#ongoing_projects',
	  data: {
	    projects: [
			{
				team: "FYEESH",
				song: "Happy Birthday",
				parts: "violin 2/3 cello 1/1 vocal 0/1",
				level: "beginner",
			},
			{
				team: "pokemon",
				song: "surf",
				parts: "vocal 3/4",
				level: "advanced",
			}
	    ]
	  }
	})
</script>

</body>
</html>


