<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>PitchPerfect</title>
        <script src="vue.js"></script>
        <link rel="stylesheet" href="style.css">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Doppio+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap" rel="stylesheet">
        <!-- font -->
        <!--code for prettifying visual on phone-->
        <meta content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    </head>
    <body>
        <div class="content_project" padding-top="5px" align="center">
            <h2>Thread 1</h2> <br>
            <div class="wrapper" style="display: inline-block; color: black; text-align: left;">
                <ul id="dictionary">
                    <li v-for="term in terms">
                        {{ term }}
                    </li>
                    <span v-if="terms.length === 0">
                    &lt;empty&gt;
                    </span>
                </ul>
            </div>
            <br><br><br><br>
            <button style="height:40px;width:100px;text-align: center" class="mini_button" onclick = "location.href = 'sheetmusic.html'">Back</button>
        </div>

        <script>
            var dictionary = new Vue({
              el: '#dictionary',
              data: {
                terms: [
                    "comment1",
                    "comment2",
                    "comment3",
                ]
              }
            })
	    </script>
    </body>
</html>